$red: red;
$green: green;
$blue: blue;
$width: 100;

/* WITHOUT MIXIN */

/*
.box {
  aspect-ratio: 1 / 1;

  &-#{$red}-100 {
    background: $red;
    width: $width;
  }
  &-#{$green}-150 {
    background: $green;
    width: $width * 1.5;
  }
  &-#{$blue}-200 {
    background: $blue;
    width: $width * 2;
  }
}
*/

/* WITH MIXIN */

@mixin box($color, $multiply: 1) {
  .box-#{$color}-#{$multiply * $width} {
    aspect-ratio: 1 / 1;
    background-color: $color;
    width: $width * $multiply * 1em;
  }
}

@include box($red);
@include box($green, 1.5);
@include box($blue, 2);
