$red: red;
$green: green;
$blue: blue;
$width: 100;

/* WITHOUT MIXIN */

/*
.box {
  aspect-ratio: 1 / 1;

  &-#{$red}-100 {
    background: $red;
    width: $width;
  }
  &-#{$green}-150 {
    background: $green;
    width: $width * 1.5;
  }
  &-#{$blue}-200 {
    background: $blue;
    width: $width * 2;
  }
}
*/

/* WITH MIXIN */

@mixin box($color, $multiply: 1) {
  .box-#{$color}-#{$multiply * $width} {
    aspect-ratio: 1 / 1;
    background-color: $color;
    width: $width * $multiply * 1rem;
  }
}

@include box($red);
@include box($green, 1.5);
@include box($blue, 2);

/* Extends and Mixins */

%extend-bold-text {
  font-weight: bold;
}

@mixin mixin-uppercase-text {
  text-transform: uppercase;
}

.accent-text {
  font-size: 1.125rem;
  @extend %extend-bold-text;
  @include mixin-uppercase-text();
}

.in-your-face-text {
  font-size: 4rem;
  @extend %extend-bold-text;
  @include mixin-uppercase-text();
}
